<div class="default" id="cadastroUsuario" ng-show="vm.divExibicao == 'cadastro'">
    <div class="row well" >
        <div class="row">
            <div class="col-md-12">
                <legend>Cadastro de Usuário
                    <button type="button" ng-click="vm.divExibicao = 'lista'" class="btn pull-right btn-default" ng-click="vm.cancelar()" style="margin-right:6px;">
                        Lista
                        <i class="fa fa-users"></i>
                    </button>
                </legend>
            </div>
        </div>
        <div class="panel-body row">
            <form class="col-md-12" novalidate>
                <h4>Dados Básicos</h4>
                <div class="col-md-3 form-group">
                    <label class="fonte-tamanho-padrao">Nome: </label>
                    <i ng-if="!vm.usuario.nome" style="font-size: 13px; margin-left: 2px;" class="fa fa-info-circle text-danger" title="Obrigatório"></i>
                    <i ng-if="vm.usuario.nome" style="font-size: 13px; margin-left: 2px;" class="fa fa-check text-success"></i>
                    <input type="text" ng-model="vm.usuario.nome" class="form-control" placeholder="Nome do Usuário.." />
                </div>
                <div class="col-md-3 form-group">
                    <label class="fonte-tamanho-padrao">Sobrenome: </label>
                    <i ng-if="!vm.usuario.sobrenome" style="font-size: 13px; margin-left: 2px;" class="fa fa-info-circle text-danger" title="Obrigatório"></i>
                    <i ng-if="vm.usuario.sobrenome" style="font-size: 13px; margin-left: 2px;" class="fa fa-check text-success"></i>
                    <input type="text" ng-model="vm.usuario.sobrenome" class="form-control" placeholder="Sobrenome do Usuário.." />
                </div>
                <div class="col-md-3 form-group">
                    <label class="fonte-tamanho-padrao">Data de Nascimento: </label>
                    <input type="text" ng-model="vm.usuario.dataNascimento" class="form-control" placeholder="00/00/0000" />
                </div>
                <div class="col-md-3 form-group">
                    <label class="fonte-tamanho-padrao">Senha: </label>
                    <i ng-if="!vm.usuario.senha" style="font-size: 13px; margin-left: 2px;" class="fa fa-info-circle text-danger" title="Obrigatório"></i>
                    <i ng-if="vm.usuario.senha" style="font-size: 13px; margin-left: 2px;" class="fa fa-check text-success"></i>
                    <input type="text" ng-model="vm.usuario.senha" class="form-control" placeholder="Senha do Usuário.." />
                </div>
                <hr/>
                <h4>Contato</h4>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">E-mail: </label>
                    <i ng-if="!vm.usuario.email" style="font-size: 13px; margin-left: 2px;" class="fa fa-info-circle text-danger" title="Obrigatório"></i>
                    <i ng-if="vm.usuario.email" style="font-size: 13px; margin-left: 2px;" class="fa fa-check text-success"></i>
                    <input type="text" ng-model="vm.usuario.email" class="form-control" placeholder="E-mail do Usuário" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">Telefone Residencial: </label>
                    <input type="text" ng-model="vm.usuario.telefone" class="form-control" placeholder="(00) 0000-0000" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">Telefone Celular: </label>
                    <input type="text" ng-model="vm.usuario.celular" class="form-control" placeholder="(00) 0000-0000" />
                </div>

                <hr/>
                <h4>Endereço</h4>
                <div class="col-md-2 form-group">
                    <label class="fonte-tamanho-padrao">CEP: </label>
                    <input type="text" ng-model="vm.usuario.cep" class="form-control" placeholder="00000-000" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="fonte-tamanho-padrao">Endereço: </label>
                    <input type="text" ng-model="vm.usuario.endereco" class="form-control" placeholder="Endereço do Usuário" />
                </div>
                <div class="col-md-1 form-group">
                    <label class="fonte-tamanho-padrao">Número: </label>
                    <input type="text" ng-model="vm.usuario.numero" class="form-control" placeholder="00" />
                </div>
                <div class="col-md-3 form-group">
                    <label class="fonte-tamanho-padrao">Complemento: </label>
                    <input type="text" ng-model="vm.usuario.complemento" class="form-control" placeholder="-" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">Bairro: </label>
                    <input type="text" ng-model="vm.usuario.bairro" class="form-control" placeholder="Bairro do Usuário" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">Cidade: </label>
                    <input type="text" ng-model="vm.usuario.cidade" class="form-control" placeholder="Cidade do Usuário" />
                </div>
                <div class="col-md-4 form-group">
                    <label class="fonte-tamanho-padrao">Estado: </label>
                    <input type="text" ng-model="vm.usuario.estado" class="form-control" placeholder="Estado do Usuário" />
                </div>

                <div class="col-xs-12 form-group">

                    <button type="submit" class="btn pull-right btn-primary" ng-click="vm.salvar()">
                        <i class="fa fa-save"></i> Salvar
                    </button>

                    <button type="button" class="btn pull-right btn-default" ng-click="vm.cancelar()" style="margin-right:6px;">
                        <i class="fa fa-close"></i> Cancelar
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="default" id="listaUsuarios" ng-show="vm.divExibicao == 'lista'">
    <div class="row well" >
        <div class="row">
            <div class="col-xs-12">
                <legend>Lista de Usuários
                    <button type="button" ng-click="vm.divExibicao = 'cadastro'" class="btn pull-right btn-default" ng-click="vm.cancelar()" style="margin-right:6px;">
                        Novo
                        <i class="fa fa-plus"></i>
                    </button>
                </legend>
            </div>
        </div>
        <softgrid cols="vm.configuracoesTabela.colunas" actions="vm.configuracoesTabela.opcoes" data="vm.usuarios" sg-controls="vm.configuracoesTabela.controles">
        </softgrid>
        <div class="no-rows" ng-show="!vm.usuarios.length">Não há itens para exibir.</div>
    </div>

    <div class="modal fade" id="modalDadosUsuario" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width:90%; width:90%">

            <div class="modal-content">

                <div class="modal-header">

                    <h4 class="modal-title" ng-show="vm.novoUsuario">Adicionar Usuário</h4>
                    <h4 class="modal-title" ng-show="!vm.novoUsuario">Editar Usuário</h4>

                </div>

                <form name="form" novalidate ng-submit="vm.salvar()">

                    <div class="modal-body">

                        <div class="form-group row">

                            <div class="col-xs-12 col-md-3 form-group">
                                <label class="hidden_effect" ng-class="{'visible_effect' : vm.cpf}">CPF</label>
                                <div class="input-group">
                                    <input class="form-control" ng-model="vm.cpf" placeholder="CPF" mask="999.999.999-99" ng-change="vm.verificaBuscaCPF()" ng-disabled="!vm.novoUsuario">
                                    <span class="input-group-btn">
                                        <button id="verificarCPF" ng-disabled="!vm.cpf || !vm.novoUsuario" class="{{vm.buscarCPF ? 'btn btn-warning m-progress' : 'btn btn-warning'}}"
                                            type="button" ng-click="vm.obterUsuarioPorCPF()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.nome}">Nome</label>
                                <input class="form-control" ng-model="vm.nome" placeholder="Nome" ng-disabled="vm.bloquearCampos" required>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.email}">Email</label>
                                <input class="form-control" ng-model="vm.email" placeholder="Email" ng-disabled="vm.bloquearCampos" required>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.cargo}">Cargo</label>
                                <input class="form-control" ng-model="vm.cargo" placeholder="Cargo" ng-disabled="vm.bloquearCampos" required>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-xs-12 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.telefoneResidencial}">Telefone Residencial</label>
                                <input class="form-control" ng-model="vm.telefoneResidencial" placeholder="Telefone Residencial" mask="(99)9999-9999" ng-disabled="vm.bloquearCampos">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.telefoneCelular}">Telefone Celular</label>
                                <input class="form-control" ng-model="vm.telefoneCelular" placeholder="Telefone Celular" mask="(99)99999-9999" ng-disabled="vm.bloquearCampos">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.telefoneComercial}">Telefone Comercial</label>
                                <input class="form-control" ng-model="vm.telefoneComercial" placeholder="Telefone Comercial" mask="(99)9999-9999" ng-disabled="vm.bloquearCampos">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-xs-12 col-md-3">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.login}">Login</label>
                                <input class="form-control" ng-model="vm.login" placeholder="Login" ng-disabled="vm.bloquearCampos || vm.existeEzAuth" required>
                            </div>
                            <div class="col-xs-12 col-md-3" ng-if="!vm.existeEzAuth">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.senha}">Senha</label>
                                <input class="form-control" type="password" ng-model="vm.senha" placeholder="Senha" ng-disabled="vm.bloquearCampos || vm.existeEzAuth"
                                    required>
                            </div>
                            <div class="col-xs-12 col-md-3" ng-if="!vm.existeEzAuth">
                                <label class="hidden_effect" ng-class="{'visible_effect':vm.confirmarSenha}">Confirmar Senha
                                </label>
                                <input class="form-control" type="password" ng-model="vm.confirmarSenha" placeholder="Confirmar Senha" ng-disabled="vm.bloquearCampos || vm.existeEzAuth"
                                    required>
                            </div>

                        </div>

                        <div class="modal-loading"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="fecharModalDadosUsuario" type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                            <i class="fa fa-times"></i> Fechar
                        </button>
                        <button type="submit" ng-disabled="!form.$valid" class="btn btn-success pull-right" style="margin-left: 10px">
                            <i style="color: white;" class="fa fa-check"></i> Salvar
                        </button>

                    </div>
                </form>

            </div>

        </div>

    </div>

</div>